@media screen and (min-width: 320px) and (max-width: 568px)
{
     .wrap{width:100%;}
     .wrap input[type=text]{width: 100%;}
     .wrap input[type=text]{font-size: 16px;}
     .wrap input[type=tel]{width: 100%;}
     .wrap input[type=tel]{font-size: 16px;}
     .wrap{font-size:21px;}
}

.wrap{
	width: 315px;
	height: 100%;
	margin: 0 auto;
}

.wrap input[type=text]{
	width: 100%;
	font-size: 16px;
}

.wrap input[type=tel]{
	width: 100%;
	font-size: 16px;
}

.linha{
	width: 315px;
}

.coluna{
	float: left;
}


.col1{
	width: 77px;
}
.col2{
	width: 154px;
}
.col3{
	width: 231px;
}
.col4{
	width: 308px;
}
