@media screen and (min-width: 320px) and (max-width: 568px)
{
     .wrap{width:100%;}
     .wrap input[type=text]{width: 100%;}
     .wrap{font-size:21px;}	
}

.wrap{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.wrap input[type=text]{
	width: 100%;
}
